.jumbotron {
  background-image: url("../img/beach-banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

input[type="range"] {
  display: inline-block;
  width: 40%;
}

.output {
  display: none ;
}

div.img-fit {
  height: 200px;
}

img.img-fit {
  width: 100%;
  height: 100%;
  padding: 10px;
}